* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://images.unsplash.com/photo-1543852786-1cf6624b9987?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    padding: 20px
    max-width: 600px;
    width: 90%
    background: rgba(0, 0, 0, 0.5)
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.message h1 {
    font-size: 2rem;
    color: #f9a8d4
    margin-bottom: 15px
}

.message p{
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6;
    word-wrap: break-word;
}

.balloons {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: float 6s infinite ease-in-out;
}

.balloon {
    width: 50px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    bottom: -100px;
    animation: rise 7s infinite ease-in-out;
}

@media (max-width: 600px) {
    .message h1 {
        font-size: 1.8rem;
    }
    .message p {
        font-size: 1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}
